.jumbotron{
	background-color: red;
	color: white;
	margin-top: 50px;
}

footer{
	padding: 10px 10px 0 10px;
	background-color: black;
	color: gray;
	margin-bottom: 0px;
	margin-top: 25px;
}

.card-hotel{
	flex: 1 300px;
	padding: 5px 10px 5px 10px
}

.btn-reserva{
	width: 100%;
}

.footer-address-icon{
	padding-right: 10px;
	
}