.jumbotron {
  background-color: #a30512;
  color: #02702e;
  margin-top: 50px;
  margin-bottom: 0px;
}
footer {
  padding: 10px 10px 0 10px;
  background-color: #2b1415;
  color: #b9bdba;
  margin-top: 10px;
  margin-bottom: 0px;
}
.card-hotel {
  flex: 1 300px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.btn-reserva {
  width: 100%;
}
.footer-address-icon {
  padding-right: 10px;
}
