@red: #a30512;
@black: #2b1415;
@green: #02702e;
@gray: #b9bdba; 

.margenes (@top: 0px, @bottom: 0px){
	margin-top: @top;
	margin-bottom: @bottom;
}

.jumbotron{
	background-color: @red;
	color: @green;
	.margenes(50px, 0px);
}

footer{
	padding: 10px 10px 0 10px;
	background-color: @black;
	color: @gray;
	.margenes(10px, 0px);
}

.card-hotel{
	flex: 1 300px;
	.margenes(10px, 0px);
}

.btn-reserva{
	width: 100%;
}

.footer-address-icon{
	padding-right: 10px;
	
}