$orange: #e65100;
$orange2: #ff833a;
$white: #fafafa;
$black: #000000;
$gray: #212121;
$gray2: #eeeeee;


@mixin margenes ($top, $bottom, $left){
	margin-top: $top;
	margin-bottom: $bottom;
	margin-left: $left
}

.jumbotron{
	background-color: $gray2;
	color: $orange;
	@include margenes(0px, 0px, 0px);
}

footer{
	padding: 10px 10px 0 10px;
	background-color: $gray;
	color: $orange;
	@include margenes(25px, 0px, 0px);
}

.card-hotel{
	flex: 1 300px;
	padding: 5px 10px 5px 10px
}

.btn-reserva{
	width: 100%;
}

.footer-address-icon{
	padding-right: 10px;
	
}
