.jumbotron {
  background-color: #eeeeee;
  color: #e65100;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

footer {
  padding: 10px 10px 0 10px;
  background-color: #212121;
  color: #e65100;
  margin-top: 25px;
  margin-bottom: 0px;
  margin-left: 0px;
}

.card-hotel {
  flex: 1 300px;
  padding: 5px 10px 5px 10px;
}

.btn-reserva {
  width: 100%;
}

.footer-address-icon {
  padding-right: 10px;
}

/*# sourceMappingURL=styles.css.map */
